Data types
    * Numeric:
     1) Integer:
     2)complex number:
     3)float:
     
   * Sequence type:
     1)Strings
     2)Tuples:
     3) Lists
    
   * Dictionaries
   
   * Booleans
      
   * Sets

# 1) Integer: (with operators)

In [1]:
27 + 27

54

In [2]:
27-7

20

In [3]:
3*9

27

In [4]:
9/3

3.0

In [5]:
10 // 3                           #Integer division operator (//) : gives result as whole number

3

In [6]:
-5 // 2

-3

In [7]:
 10 % 3                         # mod : gives remainder

1

In [8]:
7 ** 4                          #exponent: raise a number to power

2401

# 2) complex number:

In [9]:
x=1+2j

In [10]:
print(x)

(1+2j)

# 3) float :

In [11]:
2.07 + 0.3333

2.4032999999999998

In [12]:
x=3.14

In [13]:
x * 2

6.28

# Sequence types:

# 1)strings:

In [14]:
'Hello'

'Hello'

In [15]:
"How are u??"

'How are u??'

In [16]:
print('Hello')
print("How are u?")

Hello
How are u?

In [17]:
print('go "for" it ')

go "for" it

In [18]:
print(""" Hi how are u? "Ollie".""")

 Hi how are u? "Ollie".

In [19]:
print("""one
two
three """)

one
two
three

# variable:

In [20]:
x=1.234

In [21]:
y= 3.567

In [22]:
z=x+y

In [23]:
z

4.801

In [24]:
print(z)

4.801

In [25]:
a=777
print('I am staying in room number')
print(a)

I am staying in room number
777

In [26]:
print('I am staying in room',a)

I am staying in room 777

In [27]:
print('addition of x and y is',z)

addition of x and y is 4.801

# format

In [28]:
'z is addition of {} and {}'.format(x,y)

'z is addition of 1.234 and 3.567'

In [29]:
print('z is addition of {} and {}'.format(x,y))

z is addition of 1.234 and 3.567

In [30]:
print('z is addition of {a} and {b}'.format(a=x,b=y))

z is addition of 1.234 and 3.567

# Indexing= it starts with 0

In [31]:
 r= 'prameeta'

In [32]:
r[0]

'p'

In [33]:
#slicing

In [34]:
r[0:]

'prameeta'

In [35]:
r[:3]

'pra'

In [36]:
r[0:3]

'pra'

In [37]:
r[2:8]

'ameeta'

In [38]:
type(r)

str

In [39]:
type(z)

float

In [40]:
z=5
z=0
print(z)

0

# List [ ]:
A list is an object that contains multiple data items. Lists are mutable,which means that their contents can be changed during a program’s execution. Lists are dynamic data structures, meaning that items may be added to them or removed from them. You can use indexing, slicing, and various methods to work with lists in a program.

In [41]:
names = ['Molly', 'Steven', 'Will', 'Alicia', 'Adriana'] #list of strings

In [42]:
names

['Molly', 'Steven', 'Will', 'Alicia', 'Adriana']

In [43]:
print(names)

['Molly', 'Steven', 'Will', 'Alicia', 'Adriana']

In [44]:
even_numbers = [2, 4, 6, 8, 10]                  #list of integers

In [45]:
print(even_numbers)

[2, 4, 6, 8, 10]

In [46]:
info = ['Alicia', 27, 1550.87]                #list holding different data types

In [47]:
print(info)

['Alicia', 27, 1550.87]

In [48]:
#repetation operator:

In [49]:
numbers = [0] * 10

In [50]:
print(numbers)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [51]:
x=['a','b','c','d','e','f'] * 3

In [52]:
print(x)

['a', 'b', 'c', 'd', 'e', 'f', 'a', 'b', 'c', 'd', 'e', 'f', 'a', 'b', 'c', 'd', 'e', 'f']

In [53]:
a=[1,2,3,4]

In [54]:
a.append(5)

In [55]:
print(a)

[1, 2, 3, 4, 5]

In [56]:
a[0]

1

In [57]:
a[0]=7

In [58]:
a

[7, 2, 3, 4, 5]

In [59]:
# Nested list

In [60]:
x=[1,2,3,[4,5,['pratik']]]

In [61]:
print(x[1])

2

In [62]:
x[2]

3

In [63]:
x[3]

[4, 5, ['pratik']]

In [64]:
x[3][0]

4

In [65]:
x[3][2]

['pratik']

In [66]:
x[3][2][0]

'pratik'

In [67]:
print(x[3][2][0])

pratik

List Methods:
1)append
2)index
3)insert
4)sort
5)remove
6)reverse

In [68]:
# 1)append:


x=[1,2,3,4,5]
print(x)
x.append(6)
print(x)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

In [69]:
# 2)index:

def main():
    a=['pizza','hotdog','chipotle']
    
    print(a)
    
    item=input('Which item should i change?')
    
    try:
        b=a.index(item)
        
        new_item=input('Enter the value of new item')
        
        a[b]=new_item
        
        print('here is the revised list')
        
        print(a)
        
    except ValueError:
        
        print('This item is not found in the list')
        
        
        
        
main()

['pizza', 'hotdog', 'chipotle']
Which item should i change?pizza
Enter the value of new itemburger
here is the revised list
['burger', 'hotdog', 'chipotle']

In [70]:
# 3) insert:

def main():
    x=[1,2,3,4,5]
    print(x)
    x.insert(3,3)
    print(x)

main()

[1, 2, 3, 4, 5]
[1, 2, 3, 3, 4, 5]

In [71]:
# 4) sort:


def main():
    
    a=[1,7,5,3,4,2]
    
    print(a)
    
    a.sort()
    
    print(a)
    
main()

[1, 7, 5, 3, 4, 2]
[1, 2, 3, 4, 5, 7]

In [72]:
# 5) remove:


def main():
    
    a1=[1,2,3,4,5,6,7]
    
    print(a1)
    
    a1.remove(3)
    
    print(len(a1))
    
    
    print(a1)
    
main()

[1, 2, 3, 4, 5, 6, 7]
6
[1, 2, 4, 5, 6, 7]

In [73]:
# 6) remove:

def main():
    z=['a','b','c','d','e','f']
    
    print(z)
    
    item = input('which item should i removed')
    
    
    try:
        
        z.remove(item)
        
        print(z)
    
    except ValueError:
        print('Item not found in list')
main()

['a', 'b', 'c', 'd', 'e', 'f']
which item should i removedc
['a', 'b', 'd', 'e', 'f']

In [74]:
# 7)reverse:

def main():
    a=[1,2,3,4,5,6]
    print(a)
    
    a.reverse()
    
    print(a)
    
main()

[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]

In [75]:
# del function():


p=[1,2,3,4,5]
print(p)
del p[2]
print(p)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]

In [76]:
# Min And Max functions:


def main():
    my_list=[100,200,4,1,99,1111.11]
    print(my_list)
    
    print('Minimum valve in my list is:',min(my_list))
    
    print('Maximum value in my list is:',max(my_list))
    
    
main()

[100, 200, 4, 1, 99, 1111.11]
Minimum valve in my list is: 1
Maximum value in my list is: 1111.11

In [77]:
# copying list:

def main():
    a1=[10,20,30,40,50]
    print(a1)
    b1=a1
    print(b1)
main()

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]

In [78]:
def main():
    a1=[1,2,3,4,5]
    print(a1)
    
    b1=[]
    
    for item in a1:
        b1.append(item)
        print(b1)
        
        
main()

[1, 2, 3, 4, 5]
[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]

In [79]:
# Problem:

#1)Megan owns a small neighborhood coffee shop, and she has six employees who work as baristas (coffee bartenders).
#  All of the employees have the same hourly pay rate. Megan has asked you to design a program that will allow her 
#  to enter the number of hours worked by each employee,then display the amounts of all the employees’ gross pay. 

#You determine the program should perform the following steps:
#    1. For each employee: get the number of hours worked and store it in a list element.
#    2. For each list element: use the value stored in the element to calculate an employee’s gross pay.
#       Display the amount of the gross pay.
    
    
    

number_of_employees = 6

def main():
    
    hours = number_of_employees * [0]
    
    for index in range(number_of_employees):
        print('enter the hours worked by employee:',index+1,':')
        hours[index]=int(input())
        
        
    pay_rate=int(input('Please enter hourly pay rate:'))
    
    for index in range(number_of_employees):
        
        gross_pay=hours[index] * pay_rate
        
        print('Gross pay for employee',index + 1,': $',gross_pay)
        
main()

enter the hours worked by employee: 1 :
10
enter the hours worked by employee: 2 :
12
enter the hours worked by employee: 3 :
12
enter the hours worked by employee: 4 :
15
enter the hours worked by employee: 5 :
18
enter the hours worked by employee: 6 :
19
Please enter hourly pay rate:10
Gross pay for employee 1 : $ 100
Gross pay for employee 2 : $ 120
Gross pay for employee 3 : $ 120
Gross pay for employee 4 : $ 150
Gross pay for employee 5 : $ 180
Gross pay for employee 6 : $ 190

In [80]:
#)Totaling the Values in a List:

def main():
    a=[91,2,3,4,5.6,7]
    
    total=0
    
    for value in a:
        total += value
        
        
    print('total of elements is:',total)
    
main()

total of elements is: 112.6

In [81]:
#)Averaging the Values in a List:



def main():
    
    a=[10,22,30,40,50]
    
    total=0
    
    for value in a:
        total += value
        
    average= total / len(a)
    print(average)    
    
    
main()

30.4

In [82]:
# two dimensional list:



import random

rows=3
column=4


def main():
    values=[[0,0,0,0],
            [0,0,0,0],
            [0,0,0,0]]
    
    
    for r in range(rows):
        for c in range(column):
            values[r][c]=random.randint(1,999)    #random.randint=it takses random numbers from form given range.
            
    print(values)        
    
main()

[[772, 437, 986, 736], [817, 696, 688, 581], [520, 578, 637, 555]]

# dictionaries[ ]:
It stores collection of data.
Each element in dictionary tables has 2 parts keys and values:

In [83]:
a={'x':'123','y':'456','z':'789'}

In [84]:
print(a['x'])

123

In [85]:
print(a['z'])

789

In [86]:
x={'a':[1,2,3.3]}

In [87]:
x['a']

[1, 2, 3.3]

In [88]:
x['a'][2]

3.3

In [89]:
x={'a':{'innerkey':[1,2,3,4]}}

In [90]:
x['a']

{'innerkey': [1, 2, 3, 4]}

In [91]:
x['a']['innerkey']

[1, 2, 3, 4]

In [92]:
x['a']['innerkey'][1]

2

# Tuples(): It is considered as sequence of immutable objects.

In [93]:
a=(1,2,3)

In [94]:
a[0]

1

In [95]:
a[0]= 5               # tuples are immmutable(not chnageable).

TypeError: 'tuple' object does not support item assignment

In [ ]:
# conversion of tuple to list:


a=(1,2,3,4)

print(a)

b=list(a)

print(b)

# Sets:  It keeps unique element.

In [96]:
{1,2,3}

{1, 2, 3}

In [97]:
{1,1,1,2,2,2,3,3,3,3}

{1, 2, 3}

In [98]:
s={1,2,3}

In [99]:
s.add(5)

In [100]:
s

{1, 2, 3, 5}

In [101]:
s.add(5)

In [102]:
s

{1, 2, 3, 5}

In [103]:


a = {1,2,3}

In [104]:
True or True

True

In [105]:
# List comprehension:


x=[1,2,3,4,5]             #creating list
y=[]               #creating empty list.

for num in x:             # num is temporary variable.
    y.append(num**4)      # append is used to add values in given list.
    
    
print(y)


[num**4 for num in x]  # "list comprehension".
print(y)

#or

y=[num**4 for num in x]
print(y)

[1, 16, 81, 256, 625]
[1, 16, 81, 256, 625]
[1, 16, 81, 256, 625]

# Map Function() :

In [106]:
def times (var):
    return var*2

times(5)

10

In [107]:
# or we can do it in following ways also.


def times (var):return var*2

times(5)

10

In [108]:
def times (var):
    return var*2

times(5)

sequence=[1,2,3,4,5]

map(times,sequence)      # it will return that we map this sequence at perticular desination in memory.

In [109]:
def times (var):
    return var*2

times(5)

sequence=[1,2,3,4,5]

map(times,sequence)

list(map(times,sequence))

[2, 4, 6, 8, 10]

# Lambda function():

In [110]:
# or we can do it in following ways also.


def times (var):              #normal function.
    return var*2
times(5)


def times (var):return var*2     # modified function.  
times(5)

"""-----------------------------------------------------------------------------"""

lambda var:var*2               #lambda function creates anaonynous function.

t=lambda var:var*2             # assign variable to lambda function.
t(10)

20

In [111]:
def times (var):              #normal function
    return var*2

times(5)

10

In [113]:

sequence=[1,2,3,4,5]         # Map function

map(times,sequence)

x=list(map(times,sequence))

x1=tuple(map(times,sequence))

x2=set(map(times,sequence))

print(x)

print(x1)

print(x2)

[2, 4, 6, 8, 10]
(2, 4, 6, 8, 10)
{2, 4, 6, 8, 10}

In [114]:

#lambda function:


sequence=[1,2,3,4,5]         #lambda function modifying above function.

list(map(lambda var: var*3,sequence))

[3, 6, 9, 12, 15]

# Filter function (): It must be used with the lambda function which returns boolean values. i.e. True or False.

In [115]:
sequence=[1,2,3,4,5]         #lambda function modifying above function.

print(list(map(lambda var: var*3,sequence)))

filter(lambda var: var*3,sequence)

print(list(filter(lambda var: var%2 == 0,sequence))) # it divides the seqence number with two and return true and false value and also print divisible values in sequence.

[3, 6, 9, 12, 15]
[2, 4]

In [116]:
seq = ['soup','dog','salad','cat','great']

list(filter(lambda var: var[0] =='s',seq))

['soup', 'salad']

# tuple unpacking():

In [117]:
x=[(1,2),(3,4),(5,6)]         #x variable contains list of tuple

In [118]:
x[0]

(1, 2)

In [119]:
x[0][1]

2

In [120]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [121]:
for (a,b) in x:            # tuple unpacking
    print(a)

1
3
5

In [122]:
for a,b in x:               # tuple unpacking
    print(b)

2
4
6

In [123]:
for (a,b) in x:               # tuple unpacking
    print(a)
    print(b)

1
2
3
4
5
6

In [124]:
for (a,b) in x:               # tuple unpacking
    print(a)
    print(b)

1
2
3
4
5
6


# Loops:

# 1)while loop:  
-A condition-controlled loop causes a statement or set of statements to repeat as long as a condition is true. In Python, you use the while state-ment to write a condition-controlled loop.

-The while loop is known as a pretest loop, which means it tests its condition before per-forming an iteration. Because the test is done at the beginning of the loop, you usually have to perform some steps prior to the loop to make sure that the loop executes at least once.

In [125]:
x='y';

while x=='y':
    #get salesperson sales and commission rate.
    
    a=float(input('Enter total sales amount'))
    b=float(input('Enter commission rate'))
    
    
    
    commission= a*(b/100)
    
    print('Commission is ',format(commission,'.2f'))
    
    
    x=input('Do u want to calculate another commission' + 'commission (enter y for yes / N):')

Enter total sales amount1000
Enter commission rate13
Commission is  130.00
Do u want to calculate another commissioncommission (enter y for yes):n

#2) For loop:

-A count-controlled loop iterates a specific number of times. In Python,you use the for statement to write a count-controlled loop.

In [126]:
for num in range(2,10,2):
    print(num)

2
4
6
8

In [127]:
for x in range(5):
    print('Pratik')

Pratik
Pratik
Pratik
Pratik
Pratik

In [128]:
for y in range(1,11):
    x=y**2
    print(y,'\t',x)

1 	 1
2 	 4
3 	 9
4 	 16
5 	 25
6 	 36
7 	 49
8 	 64
9 	 81
10 	 100

In [131]:
kph=float(input('Please enter speed in range 60 to 130 kph:'))


print('kph \t mph')
print('-------------')

for kph in range(60,130,10):
    
    mph = kph *0.6214
    
    print(kph,'\t',format(mph,'.2f'))

Please enter speed in range 60 to 130 kph:120
kph 	 mph
-------------
60 	 37.28
70 	 43.50
80 	 49.71
90 	 55.93
100 	 62.14
110 	 68.35
120 	 74.57

In [148]:

end = int(input('Enter number upto you want to calculate square of number : '))

print('Number \t Square')


for n in range(1,end+1):
    
    square = n **2;
    
    print(n,'\t',square)

Enter number upto you want to calculate square of number : 20
Number 	 Square
1 	 1
2 	 4
3 	 9
4 	 16
5 	 25
6 	 36
7 	 49
8 	 64
9 	 81
10 	 100
11 	 121
12 	 144
13 	 169
14 	 196
15 	 225
16 	 256
17 	 289
18 	 324
19 	 361
20 	 400

In [140]:
for x in range(10,0,-1):
    print(x)
    
for x in range(0,10,1):
    print(x)

10
9
8
7
6
5
4
3
2
1
0
1
2
3
4
5
6
7
8
9

In [141]:
# Running total:

def main():
    x=[]
    n=int(input('Enter list size:'))
    
    for i in range(n):
        item=int(input())
        x.append(item)
        
    print(x)
    
    x1=x
      
    
    print('Please enter your choices to perform operations on list:')
    print('Press 1 for addition :','\n','Press 2 for subtraction :','\n','Press 3 for division :','\n','Press 4 for multiplication:')
    ch=int(input('enter your choice:'))
    if ch ==1:
        for value in x1:
            y=0.0
            y +=value
            
        print('The sum of total of elements is :',y)    
    
    elif ch ==2:
        for value in x1:
            y=0.0
            y -=value
            
        print('The subtraction of total of elements is :',y)    
    
    elif ch ==3:
        for value in x1:
            y=0.0
            y +=value
            y /=n
            
        print('The division of total of elements is :',y)    
    
    elif ch ==4:
        for value in x1:
            y=1
            y *=value
            
        print('The multiplication of total of elements is :',y)    
        
    else:
        print(x1)
main()

Enter list size:4
1
2
3
4
[1, 2, 3, 4]
Please enter your choices to perform operations on list:
Press 1 for addition :
 Press 2 for subtraction :
 Press 3 for division :
 Press 4 for multiplication:
enter your choice:1
The sum of total of elements is : 4.0

In [144]:
# Running total:

def main():
    x=[]
    n=int(input('Enter list size:'))
    print('Please enter inputs as per list size ')
    
    for i in range(n):
        item=int(input())
        x.append(item)
        
    print(x)
    
    x1=x
    y=1
    
    
    for value in x1:
        y *=value
    print('The total of element is :',y)    
    
main()

Enter list size:5
Please enter inputs as per list size
1
2
3
4
5
[1, 2, 3, 4, 5]
The total of element is : 120

In [158]:
# Factorial of number

number = int(input("Enter a Number: "))

def factorial(number):
    
    if number == 1:
        return (number)
    else:
        return (number * factorial(number - 1))
    
factorial(number)

if number < 0:
    print("Factorial cannot be found for negative numbers")
    
elif number == 0:
    print("Factorial of 0 is 1")
    
else:
    print("Factorial of", number, "is: ", factorial(number))

Enter a Number: 5
Factorial of 5 is:  120